.removeable-tag .tag-close {
    transition-property: visibility, opacity;
    transition-duration: 0.2s;
    visibility: hidden;
    opacity: 0;
}

.removeable-tag:hover .tag-close {
    visibility: visible;
    opacity: 1;
}

.removeable-tag .removeable-tag-label {
    transition-property: transform;
    transition-duration: 0.2s;
    transform: translateX(0.625rem);
}

.removeable-tag:hover .removeable-tag-label {
    transform: none;
}

.table-row {
    transition-duration: 0.2s;
}

.table-row .add-button {
    transition-property: visibility, opacity;
    visibility: hidden;
    opacity: 0;
}

.table-row:hover .add-button {
    visibility: visible;
    opacity: 1;
}

.color-circle {
    transition-duration: 0.2s;
    transition-property: filter;
}

.color-circle:hover {
    filter: brightness(125%);
    cursor: pointer;
}

.color-circle:active {
    filter: brightness(140%);
}
